.wrapper{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "header  header"
      "sidenav content"
      "footer  footer";
}

body {
    background: url(images/wildtextures-seamless-paper-texture.jpg);
}

header {
    text-align: center;
    color: black;   
    font-family: ATypewriter;
    grid-column: 1/3;
}

@font-face {
    font-family: ATypewriter;
    src: url(fonts/American\ Typewriter\ Regular.woff)
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }

.typewriter {
    /* animation: animated-text 2s steps(12,end) 1s 1 normal both;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 2pt, solid, black; */
} 
#name{
    animation: animated-text 2s steps(12,end) 1s 1 normal both;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}
#title{
    animation: animated-text 2.5s steps(38,end) 1s 1 normal both;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

.content{
    padding-right: 6em;
    padding-left: 8em;
    font-family: ATypewriter;
    /* background: url(images/annie-spratt-Bf9PT5qVZvM-unsplash.jpg);  */
}

@font-face {
    /* font-family: ATypewriter;
    src: url(fonts/American\ Typewriter\ Regular.woff) */
}


.sidenav {
    background: url(images/black-parchment-paper-texture.jpg);
    color: whitesmoke; 
    font-family: ATypewriter;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    
    grid-row: 2/4;
    /* height: 100%; 
    width: 160px; 
    position: fixed; 
    
    top: 25; 
    left: 0;
    bottom: 2;
    overflow-x: hidden; 
    margin-top: 0;
    padding-top: 20px;  */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: whitesmoke; 
    /* font-size: 25px; */
    /* display: block; */
  } 



footer {
    /* bottom: 0;
    position: fixed; */
    grid-column: 2/3;
}



#copy{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-family: ATypewriter;
}

@font-face {
    /* font-family: ATypewriter;
    src: url(fonts/American\ Typewriter\ Regular.woff) */
}